          * {
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 0.1em;
          }

          .frame {
            width: 980px;
            margin: auto;
          }
          /*Пробы*/

          footer a {
            color: white;
            font-family: 'Times New Roman';
          }

          footer a:hover {
            text-decoration: none;
          }

          footer {
            text-align: center;
            background-color: black;
            padding: 3px;
            border-top: 1px solid white;
          }

          form {
            padding-left: 22px;
          }

          .ggg {
            padding: 20px;
          }

          .ggg span {
            display: inline-block;
            vertical-align: middle;
            text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
          }

          .ggg::before, .ggg::after {
            content: '';
            display: inline-block;
            width: 70px;
            border: 1.5px solid white;
            vertical-align: middle;
            margin: 20px;
            height: 100%;
          }

          .fixbg {
            background-image: url(../img/Yc-vKoJiWNk.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-attachment: fixed;
            width: 100%;
          }

          .fixbg p::after {
            display: inline-block;
            vertical-align: bottom;
            content: "";
            height: 90vh;
          }

          .fixbg p {
            display: inline-block;
            color: white;
            font-size: 25px;
            margin: 0;
            text-align: center;
            vertical-align: bottom;
          }

          .fixbg .frame {
            text-align: center;
          }
          /*Настройка блока Header тел-планш*/
          /*...------......*/

          .ham {
            display: none;
          }

          .frameburg {
            position: relative;
            max-width: 679px;
            text-align: right;
          }

          .ham img {
            vertical-align: middle;
          }

          .hamsocialicons {
            position: absolute;
            left: 10px;
            top: 3px;
          }
          /*Настройка блока Header компьютерный*/
          /*...------......*/

          .header {
            background-color: white;
          }

          .active {
            display: block;
          }

          nav {
            text-align: center;
          }

          nav ul {
            display: inline-block;
            list-style-type: none;
            padding: 0;
          }

          nav li {
            display: inline-block;
          }

          nav a {
            display: block;
            padding: 7px 70px;
            text-decoration: none;
            color: black;
            font-size: 18px;
            border: 2px solid white;
            transition: border-color 1s;
          }

          nav .active {
            border-color: black;
          }

          nav a:hover {
            border-color: black;
          }
          /*Настройка блока паралакса компьютерный*/
          /*...------......*/

          .parallax-window {
            min-height: 100px;
            background: transparent;
          }

          .rd {
            font-family: 'Cormorant Garamond', serif;
            font-size: 65px;
            text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
            letter-spacing: 0.1em;
          }

          .centertext {
            display: inline-block;
          }

          .centrlune {
            display: inline-block;
            width: 70px;
            border: 1.5px solid white;
            vertical-align: middle;
          }

          .icon img {
            width: 100%;
            max-width: 200px;
          }

          .dymchenkoframecontent {
            position: relative;
          }

          .dymchenkoframe {
            padding-top: 10%;
            color: white;
            font-size: 50px;
            text-align: center;
            height: 100vh;
            min-height: 700px;
          }

          .socialicons {
            position: absolute;
            top: 0px;
          }

          .socialicons a {
            display: block;
            padding: 10px;
          }

          .dymchenkoframe p {
            margin: 10px;
          }
          /*Настройки блока portfolio*/
          /*...------......*/

          .gallery a {
            display: inline-block;
            width: 25%;
            height: 280px;
            background-position: center center;
            background-size: cover;
            transition: 0.5s;
          }

          .gallery a:hover {
            opacity: .8;
          }

          .gallery {
            font-size: 0;
            max-width: 1920px;
          }
          /*Настройки блока aboutme*/
          /*...------......*/

          h2 {
            font-family: 'Yeseva One', cursive, sans-serif;
            margin-top: 0px;
          }

          .aboutmeframe {
            padding: 10px;
            line-height: 1.5;
            display: inline-block;
            width: 49%;
            vertical-align: middle;
          }

          .aboutme {
            background-color: white;
          }

          .aboutmefoto img {
            width: 100%;
          }

          .aboutmefoto {
            display: inline-block;
            width: 50%;
            font-size: 0;
            vertical-align: middle;
          }

          .aboutmeframe p {
            text-indent: 1.5em;
            margin: 0;
          }
          /*Настройки блока формы*/
          /*...------......*/

          .communications {
            background-color: black;
            color: white;
          }

          .communications h2 {
            text-align: center;
            font-size: 29px;
          }

          .subform {
            width: 750px;
            margin: auto;
          }

          .subform .label {
            display: inline-block;
            width: 190px;
            vertical-align: top;
            text-align: right;
            margin-right: 10px;
            color: white;
          }

          .subform input[type="submit"] {
            /*margin-left: 120px;*/
            padding: 7px 25px;
            color: white;
            background: lightgray;
            margin-bottom: 20px;
            margin-right: 27px;
            color: black;
            border: none;
          }

          .submitt {
            text-align: center;
            margin-bottom: 0;
          }

          .subform input[type="text"], .subform textarea {
            border: none;
            background-color: lightgray;
            color: rgba(255, 255, 255, 1);
            width: 290px;
            padding: 5px;
          }

          .subform input[type="text"]:focus, .subform textarea:focus {
            background-color: white;
            color: black;
          }

          .communications {
            background-color: black;
            color: white;
          }

          .communications h2 {
            text-align: center;
          }
          /*Настройки блока кнопки вверх*/
          /*...------......*/

          .upstairs {
            padding: 20px;
            text-align: center;
          }

          .scrollup {
            background-color: black;
            cursor: pointer;
            color: white;
            border-color: black;
          }

          .scrollup:hover {
            border-color: white;
          }

          .up {
            display: block;
            height: 30px;
            font-size: 30px;
          }

          button {
            outline: none;
          }

          h2 {
            font-family: 'Yeseva One', cursive, sans-serif;
            margin-top: 0px;
          }

          @media (max-width:980px) {
            .aboutmeframe {
              font-size: 15px;
              line-height: 1.2;
            }
            .subform {
              width: 550px;
              margin: auto;
            }
            .gallery a {
              height: 200px;
            }
            .frame {
              width: 670px;
              margin: auto;
            }
            nav a {
              padding: 3px 8px;
              font-size: 15px;
              border: 1px solid white;
            }
          }

          @media (max-width:679px) {
            .rd {
              font-size: 35px;
            }
            .subform input[type="text"], .subform textarea {
              width: 190px;
            }
            .subform {
              width: 450px;
              margin: auto;
            }
            .gallery a {
              width: 50%;
              height: 300px;
            }
            .socialicons {
              display: none;
            }
            .frame {
              width: 480px;
            }
            nav {
              text-align: center;
            }
            nav a {
              font-size: 13px;
            }
            nav li {
              display: block;
            }
            .ham {
              display: inline-block;
              text-align: center;
            }
            .header {
              display: none;
            }
            .active {
              display: block;
            }
            button {
              outline: none;
            }
          }

          @media (max-width:449px) {
            .rd {
              font-size: 25px;
            }
            .centrlune {
              width: 30px;
            }
            .aboutmeframe {
              width: 100%;
            }
            .aboutmefoto {
              width: 100%;
            }
            .gallery a {
              height: 150px;
            }
            .subform .label {
              display: block;
            }
            .subform {
              width: 300px;
              margin: auto;
            }
            .subform input[type="text"], .subform textarea {
              width: 290px;
            }
            .socialicons {
              display: none;
            }
            .dymchenkoframe {
              font-size: 30px;
              width: 100%;
            }
            .frame {
              width: 300px;
            }
            nav {
              text-align: center;
            }
            nav a {
              font-size: 13px;
            }
            nav li {
              display: block;
            }
            .ham {
              display: inline-block;
              text-align: center;
            }
            .header {
              display: none;
            }
            .active {
              display: block;
            }
            button {
              outline: none;
            }
            .subform .label {
              width: 290px;
              text-align: left;
            }
          }
